.App {
  text-align: center;
}


.container {
  margin-top: 20px;

}

.display {
  animation: opacity-animation 1s;
}


@keyframes opacity-animation {
  from {
      opacity: 0%;
  }

  to {
      opacity: 100%;
  }
}